<div class="app">
    <header class="header">
        <div class="header__wrapper">
            <img class="header__logo"  [src]="logoPath" alt="Rubius logo">
            <span class="header__title">Задание по ИПР - Custom Select</span>
        </div>
    </header>

    <div class="app__wrapper">
        <div class="app__main">
            <perfect-scrollbar>
                <div class="app__content">
                    <span style="margin-bottom: 32px;">Все выбранные значения Select`ов выводятся в консоль</span>
                    <custom-select #mySelect
                        [required]="true"
                        label="Список"
                        placeholder="Выберите значение из списка"
                        [disabled]="disableSelect"
                        (selectionChange)="logEvent($event)"
                    >
                        <custom-option value="1">Эту</custom-option>
                        <custom-option value="2">работу</custom-option>
                        <custom-option value="3">будет</custom-option>
                        <custom-option value="4">проверять</custom-option>
                        <custom-option value="5">Костян</custom-option>
                        <custom-option value="6">Терёхин</custom-option>
                        <custom-option value="7">LKJHsdas f000000 LKJHsdasf LKJHsdasf LKJHsdasf LKJHsdasf LKJHsdasf</custom-option>
                        <custom-option value="8">001010</custom-option>
                        <custom-option value="009">Value 009</custom-option>
                        <custom-option value="10">Value 010</custom-option>
                    </custom-select>

                    <div class="app__action-buttons">
                        <button style="margin-right: 14px" (click)="open()">Открыть</button>
                        <button style="width: 50px; margin-right: 14px" (click)="toggleDisableSelect()">{{ disableSelect ? 'Вкл' : 'Выкл' }}</button>
                        <button (click)="resetSelect()">Сбросить значение</button>
                    </div>
                    
                    <custom-select
                        label="Select шириной 300px"
                        placeholder="Выберите значение из списка"
                        width="300"
                        style="margin-top: 60px;"
                        (selectionChange)="logEvent($event)"
                    >
                        <custom-option value="A">ABC</custom-option>
                        <custom-option value="B">sdsdf</custom-option>
                        <custom-option value="C">LKJHsdasf</custom-option>
                        <custom-option value="D">erwr</custom-option>
                        <custom-option>000000</custom-option>
                        <custom-option>LKJHsdasf000000 LKJHsdasf LKJHsdasf LKJHsdasf LKJHsdasf LKJHsdasf</custom-option>
                    </custom-select>

                    <custom-select
                        placeholder="Select без лейбла и values"
                        style="margin-top: 60px;"
                        (selectionChange)="logEvent($event)"
                    >
                        <custom-option>ABC</custom-option>
                        <custom-option>sdsdf</custom-option>
                        <custom-option>LKJHsdasf</custom-option>
                        <custom-option>erwr</custom-option>
                        <custom-option>000000</custom-option>
                        <custom-option>LKJHsdasf000000 LKJHsdasf LKJHsdasf LKJHsdasf LKJHsdasf LKJHsdasf</custom-option>
                    </custom-select>

                    <custom-select
                        [required]="true"
                        label="Select с ngModel"
                        placeholder="Выберите значение из списка"
                        style="margin-top: 60px;"
                        (selectionChange)="logCurrentSelectValue()"
                        [(ngModel)]="currentSelectValue"
                        #model="ngModel"
                    >
                        <custom-option value="A">ABC</custom-option>
                        <custom-option value="B">sdsdf</custom-option>
                        <custom-option value="C">LKJHsdasf</custom-option>
                        <custom-option value="D">erwr</custom-option>
                        <custom-option>000000</custom-option>
                        <custom-option>LKJHsdasf000000 LKJHsdasf LKJHsdasf LKJHsdasf LKJHsdasf LKJHsdasf</custom-option>
                    </custom-select>
                    <div *ngIf="model.invalid && (model.dirty || model.touched)"
                        style="color: red; font-size: 12px; margin-top: 4px;"
                    >
                        <div *ngIf="model.errors.required">
                            Выбор значения из списка обязателен!
                        </div>
                    </div>

                    <custom-select
                        label="Select с Form Control"
                        placeholder="Выберите значение из списка"
                        style="margin-top: 60px;"
                        (selectionChange)="logFormControlValue()"
                        [formControl]="control"
                    >
                        <custom-option value="A">ABC</custom-option>
                        <custom-option value="B">sdsdf</custom-option>
                        <custom-option value="C">LKJHsdasf</custom-option>
                        <custom-option value="D">erwr</custom-option>
                        <custom-option>000000</custom-option>
                        <custom-option>LKJHsdasf000000 LKJHsdasf LKJHsdasf LKJHsdasf LKJHsdasf LKJHsdasf</custom-option>
                    </custom-select>

                    <div class="app__action-buttons">
                        <button style="margin-right: 14px" (click)="setValueWithFormControl()">Присвоить значение "Value 5"</button>
                        <button style="width: 50px; margin-right: 14px" (click)="toggleDisableWithFormControl()">{{ control.disabled ? 'Вкл' : 'Выкл' }}</button>
                        <button (click)="resetWithFormControl()">Сбросить значение</button>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
</div>